<div class="container">
  <header>
    <img src="{{ appUser.seller?.coverImageUrl }}" />
  </header>

  <div class="row">
    <div class="left col-lg-4">
      <div class="photo-left">
        <img class="photo" src="{{ appUser.seller?.profileImageUrl }}" />
      </div>

      <h4 class="name">Username : {{ appUser.userName }}</h4>
      <p class="info"><b>Email :</b> {{ appUser.email }}</p>
      <h4 class="name">Adresses:</h4>
      <p class="info" *ngFor="let ad of appUser.addresses">
        "{{ ad.country }} - {{ ad.government }} - {{ ad.city }} -
        {{ ad.street }}"
      </p>

      <h4 class="name">Phone numbers:</h4>
      <p class="info" *ngFor="let phone of appUser.phoneNumbers">
        {{ phone.phone }}
      </p>

      <p class="desc">
        Hello ! this is {{ appUser.userName }}, And this is My Rocket shop.
      </p>
    </div>

    <div class="right col-lg-8">
      <ul class="nav">
        <li>My Products</li>
        <li><a>Edit Profile</a></li>
      </ul>
      <!-- <button class="btn btn-success addbtn">Add product</button> -->
      <a  href="seller/addProduct" style="margin: 10px;" class="btn btn-success addbtn">Add Product</a>
      <br>
      <a  href="seller/orders" style="margin: 10px;" class="btn btn-success addbtn">Order</a>


      <div class="row gallery">
        <div
          class="col-md-4"
          *ngFor="let product of products"
          style="display: inline"
        >
          <div *ngFor="let image of product.imgs">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src={{image.url}} alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.desctiption}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h5 style="display:inline">Price : </h5>{{product.price-(product.price*product.discount)/100}}</li>
                <li class="list-group-item"><h5 style="display:inline ;">Brand : </h5>{{product.brand}}</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Delete</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>