<div class="form-group mb-3 mt-3">
    <label class="form-label" for="{{label}}">{{label}}</label>
    <input [ngClass]="(controlDir && controlDir.control  && controlDir.control.touched)?
         !controlDir.control.valid? 'is-invalid':'is-valid':'' " [type]="type" (input)="onChange($event.target.value)"
        (blur)="onTouched()" id="{{label}}" #input class="form-control" placeholder="{{label}}" />
    <div class="invalid-feedback"
        *ngIf="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched)">
        <span *ngIf="controlDir.control.errors?.required">{{label}} is required</span>
        <span *ngIf="controlDir.control.errors?.pattern">{{label}} is invalid</span>
        <div>
            <span *ngIf="controlDir.control.errors?.matching">{{label}} is not matching</span>
        </div>
    </div>
</div>