<p>add-product works!</p>
<div class="container">
    <div class="row py-5 justify-content-center">
      <div class="col-10 col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
        <h2 class="text-center mb-5">Add new product</h2>
        <form [formGroup]="addProdcutFrom!" (ngSubmit)="onSubmit()">
          <app-text-input formControlName="name" [label]="'name'"></app-text-input>
          <app-text-input formControlName="desctiption" [label]="'Desctiption'"></app-text-input>
          <app-text-input formControlName="quantity" [label]="'Quantity'" [type]="'Number'"></app-text-input>
          <app-text-input formControlName="price" [label]="'Price'" [type]="'Number'"></app-text-input>
          <app-text-input formControlName="discount" [label]="'discount'" [type]="'Number'"></app-text-input>
          <app-text-input formControlName="brand" [label]="'Brand'"></app-text-input>
  
          <label>SubCategory</label>
          <select formControlName="subCategory" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option value="">Choose SubCategory</option>
            <option class="dropdown-item" *ngFor="let subCategory of subCategories" [ngValue]="subCategory.id">
              {{subCategory.name}}
              {{subCategory.mainCategory}}
            </option>
            <div class="dropdown-divider"></div>
          </select>
  
          <label>Colors</label>
          <select formControlName="colors" multiple class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option value="">Choose Colors</option>
            <option class="dropdown-item" *ngFor="let color of colors" [ngValue]="color.id">
              {{color.name}}
            </option>
            <div class="dropdown-divider"></div>
          </select>
  
          <label>Sizes</label>
          <select formControlName="sizes" multiple class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option value="">Choose Sizes</option>
            <option class="dropdown-item" *ngFor="let size of sizes" [ngValue]="size.id">
              {{size.name}}
            </option>
            <div class="dropdown-divider"></div>
          </select>
          <div class="row">
            <label for="file">Add Images</label>
            <div class="form-group">
              <input formControlName="file" class="form-control form-control-sm" type="file" if="file" #file
                placeholder="Choose file" multiple (change)="catchSelectedImages(file.files)">
              <!-- <br>
              <button class="btn btn-success" type="button" (click)="uploadImage()">Upload Image</button> -->
            </div>
            <div class="col-md-4">
              <span class="upload" *ngIf="progress!>0">
                {{progress}}%
              </span>
              <span class="upload" *ngIf="message">
                {{message}}
              </span>
            </div>
          </div>
  
          <div class="form-group d-grid mt-5">
            <button [disabled]="addProdcutFrom?.invalid" type="submit" class="btn btn-success" >Add Product</button>
          </div>
        </form>
  
      </div>
    </div>
  </div>