<div class="container">
  <div class="row py-5 justify-content-center">
    <div class="col-10 col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
      <h2 class="text-center mb-5">Add new product</h2>
      <form [formGroup]="addProdcutFrom!">
        <app-text-input formControlName="name" [label]="'name'"></app-text-input>
        <app-text-input formControlName="desctiption" [label]="'Desctiption'"></app-text-input>
        <app-text-input formControlName="quantity" [label]="'Quantity'"></app-text-input>
        <app-text-input formControlName="price" [label]="'Price'" [type]="'Number'"></app-text-input>
        <app-text-input formControlName="discount" [label]="'discount'" [type]="'Number'"></app-text-input>
        <app-text-input formControlName="brand" [label]="'Brand'"></app-text-input>
        <app-text-input formControlName="subCategoryId" [label]="'SubCategory'" [type]="'Number'"></app-text-input>
        
      </form>
    </div>
  </div>
</div>