<div class="container">
  <!-- code here -->
  <div class="card">
    <form class="card-form">
      <div class="input">
        <input
          formControlName="file"
          class="input-field"
          type="file"
          if="file"
          #file
          placeholder="Choose file"
          multiple
          (change)="catchSelectedImages(file.files)"
        />

        <label class="input-label">Upload Profile Picture</label>
      </div>
      <p style="margin: 5px">update addresses</p>
      <!-- <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Adress</th>
            <th scope="col">Country</th>
            <th scope="col">Government</th>
            <th scope="col">City</th>
            <th scope="col">Street</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let address of data.addresses">
            <th scope="row">-</th>
            <td><input class="input-field" value="{{ address.country }}" /></td>
            <td>
              <input class="input-field" value="{{ address.government }}" />
            </td>
            <td><input class="input-field" value="{{ address.city }}" /></td>
            <td><input class="input-field" value="{{ address.street }}" /></td>
            <button type="button" class="button-3">Edit</button>
          </tr>
        </tbody>
      </table> -->
      <div class="action">
        <button class="action-button" (click)="onSubmit()" type="button">
          Update Profile
        </button>
      </div>
    </form>
  </div>
</div>
