
projects/Backend/gitignore
.vs/
projects/Backend/TheRocket/.vs/
../../../.DS_Store
../../.DS_Store
../.DS_Store
.DS_Store
projects/Backend/TheRocket/.vscode/
projects/Backend/TheRocket/TheRocket/.vscode/