<div class="container py-5">
    <div class="row gy-5">
        <!-- product details -->
        <div class="col-12 gy-5">
            <div class="row gy-5">
                <!-- carousel -->
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="bg-primary">
                        <carousel class="text-center">
                            <slide *ngFor="let img of product.imgs">
                                <img class="carousel-img img-fluid align-text-center" src={{img.url}}
                                    alt="Product picture" style="max-height:621px ; ">

                            </slide>
                            <slide>
                                <img class="carousel-img img-fluid align-text-center"
                                    src="../../../assets/images/products/greendress1.jpg" alt="Product picture"
                                    style="max-height:621px ; ">
                            </slide>
                        </carousel>
                    </div>
                </div>
                <!-- carousel -->
                <!-- details -->
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <h1>{{product.name}}</h1>

                    <del class="d-block text-danger"><strong>Price: </strong> {{product.price|currency:'EGP ' }}</del>
                    <h4 class="text-success">
                        <strong>Price:</strong>
                        {{product.price-((product.discount/100)*product.price) |currency:'EGP '}}
                    </h4>
                    <div class="d-flex justify-content-start align-items-center my-3">
                        <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2"
                            style="cursor: pointer; font-size: 2em;"></i>
                        <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
                        <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2"
                            style="cursor: pointer; font-size: 2em;"></i>

                    </div>



                    <div class="d-grid">
                        <button class="btn btn-warning">Add To Cart</button>
                    </div>
                    <hr>
                    <p><strong>Description: </strong>{{product.desctiption}}</p>
                </div>
                <!-- details -->
            </div>
        </div>
        <!-- product details -->

        <!-- product reviews -->
        <div class="col-12">
            <h1>Reviews</h1>

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex align-items-center py-2">
                        <img src="/assets/images/default-user-avatar.jpg" class="mr-2" style="border-radius: 50%;"
                            width="25px" />
                        <small class="text-muted">John Doe jr.</small>
                    </div>
                    <p>Great product!</p>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center py-2">
                        <img src="/assets/images/default-user-avatar.jpg" class="mr-2" style="border-radius: 50%;"
                            width="25px" />
                        <small class="text-muted">Marry Joe.</small>
                    </div>
                    <p>very helpful product, it helped me alot.</p>
                </li>
            </ul>
        </div>
        <!-- product reviews -->
    </div>
</div>