<div class="container ">
  <div class="row py-12 justify-content-center">
   <h5 class="text-left mb-5">Hello,{{data.buyer.firstName}}›Manage your Profile</h5>
   <div class="col-lg-5 col-md-6 justify-content-between">
   <form [formGroup]="buyerEditForm" (ngSubmit)="onBuyerEditFormSubmit(fname.value,lname.value,bdate.value,uname.value)">
     <app-text-input #fname  formControlName="firstName" label="FirstName" [value]="data.buyer.firstName"></app-text-input>
     <app-text-input #lname formControlName="lastName" label="LastName" [value]="data.buyer.lastName"></app-text-input>
     <app-text-input #bdate formControlName="birthDate" label="BirthDate"  [value]="data.buyer.birthDate"></app-text-input>
     <app-text-input #uname formControlName="userName"  label="UserName" [disabled]="true" [value]="data.userName"></app-text-input>
     <app-text-input formControlName="email"  label="Email" [disabled]="true" [value]="data.email"></app-text-input>
     <app-text-input formControlName="gender" label="Gender" [disabled]="true" [value]="isMale"></app-text-input>
     <div class="form-group d-grid mt-5">
       <button type="submit"  class="btn btn-success">Edit-Info</button>
       
     </div>
   </form></div>
</div>
<div class="row py-12 justify-content-center">
  <div class="col-lg-5 col-md-6 justify-content-between">
   <h5>My PhoneNumbers</h5>
    <table  class="table table-striped">
      <thead class="thead-dark">
        <tr class="table-active">
          <th>PhoneNumber</th>
          <th colspan="2"><button style="min-width: 100%;" (click)="createBuyerAddPhoneForm()" type="button" class="btn btn-success">Add Phone</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let phone of data.phoneNumbers">
          <td >{{phone.phone}}</td>
          <td ><button class="btn btn-primary text-center" type="button" (click)="createBuyerEditPhoneForm(phone)">Edit</button></td>
          <td ><button (click)="onBuyerDeletePhone(phone)" type="button" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  <ng-container *ngIf="buyerEditPhoneForm  &&!buyerAddPhoneForm">
    <div class="row py-12 justify-content-center">
      <div class="col-lg-5 col-md-6 justify-content-between">
        <form [formGroup]="buyerEditPhoneForm">
          <app-text-input formControlName="editphone" label="PhoneNumber"></app-text-input>
          <div class="form-group d-grid mt-5">
            <button *ngIf="buyerEditPhoneForm" [disabled]="buyerEditPhoneForm.invalid" (click)="onBuyerEditPhoneFormSubmit()" type="button" class="btn btn-primary">Edit Phone</button>
          </div>
        </form>
      </div></div>
   </ng-container>
   <ng-container *ngIf="buyerAddPhoneForm">
    <div class="row py-12 justify-content-center">
      <div class="col-lg-5 col-md-6 justify-content-between">
          <form [formGroup]="buyerAddPhoneForm">
            <app-text-input formControlName="addphone" label="PhoneNumber"></app-text-input>
            <div class="form-group d-grid mt-5">
              <button *ngIf="buyerAddPhoneForm" [disabled]="buyerAddPhoneForm.invalid" (click)="onBuyerAddPhoneFormSubmit()" type="button" class="btn btn-success">Add Phone</button>    
            </div>
          </form>
        </div></div>
     </ng-container></div></div>
     <div class="row py-12 justify-content-center">
      <div class="col-lg-6 col-md-9 justify-content-between">
  <h5>My Addresses</h5>
   <table class="table table-striped">
     <thead class="thead-dark">
       <tr>
         <th scope="col">Country</th>
         <th scope="col">Governorate</th>
         <th scope="col">City</th>
         <th scope="col">Street</th>
         <th scope="col"colspan="2"><button style="min-width: 100%;"(click)="createBuyerAddAddressForm()" type="button" class="btn btn-success">Add Address</button></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let address of data.addresses">
         <td >{{address.country}}</td>
         <td >{{address.government}}</td>
         <td >{{address.city}}</td>
         <td >{{address.street}}</td>
         <td ><button class="btn btn-primary"(click)="createBuyerEditAddressForm(address)" type="button">Edit</button></td>
         <td ><button (click)="onBuyerDeleteAddress(address)" type="button" class="btn btn-danger">Delete</button></td>
       </tr>
     </tbody>
   </table>
 <ng-container *ngIf="buyerEditAddressForm && !buyerAddAddressForm">
  <div class="row py-12 justify-content-center">
    <div class="col-lg-5 col-md-6 justify-content-between">
       <form [formGroup]="buyerEditAddressForm">
         <app-text-input formControlName="editcountry" label="Country"></app-text-input>
         <app-text-input formControlName="editgovernment" label="Governorate" ></app-text-input>
         <app-text-input formControlName="editcity" label="City" ></app-text-input>
         <app-text-input formControlName="editstreet" label="Street" ></app-text-input>
         <div class="form-group d-grid mt-5">
           <button *ngIf="buyerEditAddressForm" [disabled]="buyerEditAddressForm.invalid" (click)="onBuyerEditAddressFormSubmit()" type="button" class="btn btn-primary">Edit Address</button>
         </div>
       </form>
     </div></div>
  </ng-container>
  <ng-container *ngIf="buyerAddAddressForm">
    <div class="row py-12 justify-content-center">
      <div class="col-lg-5 col-md-6 justify-content-between">
         <form [formGroup]="buyerAddAddressForm">
           <app-text-input formControlName="addcountry" label="Country"></app-text-input>
           <app-text-input formControlName="addgovernment" label="Governorate" ></app-text-input>
           <app-text-input formControlName="addcity" label="City" ></app-text-input>
           <app-text-input formControlName="addstreet" label="Street" ></app-text-input>
           <div class="form-group d-grid mt-5">
             <button *ngIf="buyerAddAddressForm"[disabled]="buyerAddAddressForm.invalid" (click)="onBuyerAddAddressFormSubmit()" type="button" class="btn btn-success">Add Address</button>
           </div>
         </form>
       </div></div>
    </ng-container>
 </div>  </div></div>
 