

    <div class="container">

        <div class="row" >
    
            <a  href="seller/history" style="margin: 10px;" class="btn btn-secondary btn-lg col">History</a>
        
            <a href="seller/orders" style="margin: 10px;" class="btn btn-dark btn-lg col">Orders</a>
        
            <a href="seller/returns"  style="margin: 10px;" class="btn btn-warning  btn-lg col" >Returns </a>
            <a  href="seller/shipping" style="margin: 10px;" class="btn btn-secondary btn-lg col">Shipping</a>
  
          </div>
    </div>
  
  
  <table class="table table-striped" style="margin-top: 2rem;">
      <thead>
        <tr>
          <th  ># </th>
          <th scope="col">productName</th>
          <th scope="col">Quantity</th>
          <th scope="col">productPrice</th>
          <th scope="col">Buyer Name</th>

          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor  ="let order of orders;let counter =index "  >
          <ng-container *ngIf="order.deliveryStatus==0">
          <th scope="row" >{{counter+1}} </th>
          <td>  {{order["productName"]}}</td>
       
          <td>  {{order["quantity"]}}</td>
          <td>  {{order["productPrice"]}}</td>
         <td> <a href="/product/{{order.productId}}"> View Details</a></td>
          <!-- <td> {{getBuyerName(order.buyerId)}}</td> -->
          <td><button  type="button" (click)="AcceptOrder(order.id,order)" class="btn btn-success   btn-sm">Accept</button>
          </td>
          <td>
              <button type="button" (click)="CancelOrder(order.id,order)" class="btn btn-danger   btn-sm">Cancel</button>
  
          </td>
        </ng-container>
        </tr>
    
        
      </tbody>
    </table>
  