.carousel-img {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
}

.list-group:hover {
    cursor: pointer;
}

.custom-select:hover {
    cursor: pointer;
}

.option-selection:hover {
    cursor: pointer;
}