<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-10 col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-4">
            <h2 class="text-center mb-5">Sign Up</h2>
            <div class="d-flex justify-content-between">
                <div>
                    <button (click)="createBuyerRegisterForm()" type="submit"
                        class="btn btn-outline-info btn-lg">Sign-Up As Buyer</button>
                </div>
                <div>
                    <button (click)="createSellerRegisterForm()" type="submit"
                        class="btn btn-outline-info btn-lg">Sign-Up As Seller</button>
                </div>
            </div>


            <!-- Account Type Check Box -->
            <ng-container *ngIf="registerBuyerForm">
                <form [formGroup]="registerBuyerForm" (ngSubmit)="onBuyerSubmit()">
                    <app-text-input formControlName="userName" [label]="'Username'"></app-text-input>

                    <app-text-input formControlName="email" [value]="'email@email.com'" [label]="'Email Address'">
                    </app-text-input>

                    <app-text-input formControlName="password" [label]="'Password'" [type]="'password'">
                    </app-text-input>

                    <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'">
                    </app-text-input>

                    <app-text-input formControlName="firstName" [label]="'First Name'"></app-text-input>

                    <app-text-input formControlName="lastName" [label]="'Last Name'"></app-text-input>


                    <label>Gender</label>
                    <select formControlName="gender" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option value="">Please Choose your Gender</option>
                        <option class="dropdown-item" *ngFor="let gender of genders" [ngValue]="gender.value">
                            {{gender.sex}}
                        </option>
                        <div class="dropdown-divider"></div>
                    </select>
                    <small class="text-danger" *ngIf="registerBuyerForm.controls['gender'].errors">This Field is
                        Required</small>

                    <app-text-input formControlName="birthDate" [label]="'Birth Date'" [type]="'Date'"></app-text-input>

                    <div>
                        <ul class="text-danger list-unstyled" *ngIf="errors">
                            <li *ngFor="let error of errors">
                                {{error | json}}
                            </li>
                        </ul>
                    </div>

                    <div class="form-group d-grid mt-5">
                        <button [disabled]="registerBuyerForm.invalid" type="submit" class="btn btn-success">Sign-Up As
                            Buyer</button>
                    </div>
                    <p class="text-center text-muted">Already have an account? <a [routerLink]="['/account/login']"
                            routerLinkActive="router-link-active">Sign In</a>.</p>
                </form>
            </ng-container>

            <ng-container *ngIf="registerSellerForm">
                <form [formGroup]="registerSellerForm" (ngSubmit)="onSellerSubmit()">

                    <app-text-input formControlName="userName" [label]="'Username'"></app-text-input>

                    <app-text-input formControlName="email" [label]="'Email Address'">
                    </app-text-input>

                    <app-text-input formControlName="password" [label]="'Password'" [type]="'password'">
                    </app-text-input>

                    <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'">
                    </app-text-input>

                    <app-text-input formControlName="referalCode" [label]="'Referral Code'"></app-text-input>

                    <app-text-input formControlName="about" [label]="'Seller Brief'"></app-text-input>

                    <app-text-input formControlName="brandName" [label]="'Seller Brand Name'"></app-text-input>

                    <div>
                        <ul class="text-danger list-unstyled" *ngIf="errors">
                            <li *ngFor="let error of errors">
                                {{error}}
                            </li>
                        </ul>
                    </div>


                    <div class="form-group d-grid mt-5">
                        <button [disabled]="registerSellerForm.invalid" type="submit" class="btn btn-success">Sign-Up As
                            Seller</button>
                    </div>
                    <p class="text-center text-muted">Already have an account? <a [routerLink]="['/account/login']"
                            routerLinkActive="router-link-active">Sign In</a>.</p>
                </form>
            </ng-container>




        </div>
    </div>
</div>