<table class="table table-striped">
  <thead class="thead-dark">
    <tr >
      <th scope="col">ProductName</th>
      <th scope="col">ProductPrice</th>
      <th scope="col">Quantity</th>
      <th scope="col">DeliveryStatus</th>
      <th scope="col">DeliveryDate</th>
      <th scope="col">IsReturned</th>
      <th scope="col">ReturnDate</th>
      <th scope="col"></th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td >{{order.productName}}</td>
      <td >{{order.productPrice}}</td>
      <td >{{order.quantity}}</td>
     <td *ngIf="order.deliveryStatus===0">Stock</td>
      <td  *ngIf="order.deliveryStatus===1">Shipping</td>
      <td  *ngIf="order.deliveryStatus===2">delivered</td>
      <td *ngIf="order.deliveryStatus===3">Canceled</td>
      <td *ngIf="order.deliveryDate">{{order.deliveryDate}}</td>
      <td *ngIf="!order.deliveryDate">____</td>
      <td *ngIf="order.isReturned">Yes</td>
      <td *ngIf="!order.isReturned">____</td>
      <td *ngIf="order.returnDate">{{order.returnDate}}</td>
      <td  *ngIf="!order.returnDate">____</td>
      <td  *ngIf="order.deliveryStatus===0">Stock</td>
      <td  *ngIf="order.deliveryStatus===1">Shipping</td>
      <td  *ngIf="order.deliveryStatus===2">delivverd</td>
      <td  *ngIf="order.deliveryStatus===3">canceled</td> -->
      <td >{{order.deliveryDate}}</td>
      <td >{{order.isReturned}}</td>
      <td>{{order.returnDate}}</td>
      <td >
        <a  style="margin: 10px;" class="btn btn-secondary btn-lg col" (click)="requestReturn(order.id)">Return Request</a>
      </td>
    </tr>
  </tbody>
</table>