<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <h4 class="mb-0">Shopping cart</h4>
                <div class="d-flex justify-content-between">
                    <span>You have {{carts.length}} items in your cart</span>
                </div>
                <ng-container *ngFor="let cart of carts">
                    <app-cart-item [cart]="cart"></app-cart-item>
                </ng-container>

            </div>
        </div>
        <div class="col-md-4">

            <app-cart-checkout [carts]="carts" [cartsPrice]="cartsTotalPrice" [cartsDiscount]="cartsTotalDiscount">
            </app-cart-checkout>

        </div>
    </div>
</div>